---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blogs');
posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

const pageTitle = "Blog Posts"
const title = "Black Orchestra: World Front"
---

<Layout pageTitle={pageTitle} title={title}>
<div class="containerStyle1" id="Container1">
    {posts.map((post, index) => (
        <div class="boxWrapper">
            <center> <h>{post.data.date}</h> </center>
            <center> <h>{post.data.title}</h> </center>
            {post.data.description && <p>{post.data.description}</p>}
            {post.data.img && (<img src={post.data.img} alt={post.data.title} />)}
            <a href={`/blogs/${post.slug}`} class="mb-[40px]">Read more</a>
            {index < posts.length - 1 && <hr class="divider">}
        </div>
    ))}
</div>
</Layout>
